@font-face {
  font-family: quicksand;
  src: url(graphs/quicksand.light-regular.otf);
}



body{
  font-family: quicksand;
  font-size: 30px;
  background: url("pexels(1).jpg");
  background-size: auto;
  background-repeat: no-repeat; 

}

 

header{
  /* background: linear-gradient(to right, black, yellow); */
   padding: 20px;
  align-items: center;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 50px;
  border-radius: 10px;

 /* opacity: 0; */
}

nav{
  width: 50%;
  margin: 0 auto;
}


nav a{
  text-decoration: none;
  color: black;
  padding-left: 80px;
}

main a, main p{
	color: white;
	display: block;

	
	 
}


a:hover{
  color: white;
}




main{
	 
	width: 60%;
	margin: 0 auto;
	margin-top: 180px;
  font-weight: bold;
	
}



main a{
   text-decoration: none;
   margin-bottom: 10px;
}